:root {
  --logo-text: 'Raleway', sans-serif;
  --primary-text: 'Roboto', sans-serif;
  --color-title: #2e2f42;
  --discription-tex-color: #434455;
  --primary-button-bg: #4d5ae5;
  --primary-button-color: #ffffff;
  --primary-button-filter-bg: #f4f4fd;
  --batton-hover-bg: #404bbf;
}

/* ===============DROPPING DEFULT STYLE================= */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  padding-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ===============/DROPPING DEFULT STYLE================= */

/* ===============COMPONENTS================= */
body {
  font-family: var(--primary-text);
  color: #434455;
  background-color: #ffffff;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title);
}

.discription-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--discription-tex-color);
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-title);
  margin-bottom: 72px;
}

/*===============/COMPONENTS===============*/

/* ===============LOGO=============== */

.logotype {
  font-family: var(--logo-text);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 76px;
}

.logotype-part-header {
  color: #2e2f42;
}

.logotype-part-footer {
  color: #f4f4fd;
}
/* ===============/LOGO=============== */

/* ===============HEADER - Navigation end contacts=============== */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-title);
  padding: 24px 0 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--batton-hover-bg);
}

.page-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding: 0 15px 0 15px;
  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0 24px;
}
.page-nav {
  display: flex;
  align-items: center;
}

.navigation {
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 0%;
  gap: 40px;
}

.contacts {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts:hover,
.contacts:focus {
  color: var(--batton-hover-bg);
}

.address-list {
  display: flex;
  gap: 40px;
  margin-bottom: 0;
}

.address-section {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
}
/* ===============/HEADER - Navigation end contacts=============== */

/* ===============MAIN PAGE=============== */

/* ===============Hero=============== */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.button-hero {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  flex-direction: column-reverse;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  padding: 16px 8px 16px 8px;
  gap: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--batton-hover-bg);
}

/* ===============GOALS=============== */
.goals-section {
  padding: 120px 0 120px;
  gap: 24px;
}

.goals-section-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin-bottom: 0;
}

.goals-title {
  margin-bottom: 8px;
}

.part-list-section {
  width: 264px;
}
/* ============= WHAT ARE WE DOING============ */
.doing-section {
  padding-bottom: 120px;
}

.work-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 72px;
}

.work-card {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.work-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

/* ==================TEAM==================== */

.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  background-color: #f4f4fd;
  margin-top: 72px;
}

.bio-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 16px 32px;
}

.member-name {
  margin-bottom: 8px;
  text-align: center;
}

.member-profession {
  text-align: center;
  flex-direction: column;
}

/* ===============/MAIN PAGE=============== */

/* ===============FOOTER=============== */
.footer {
  background-color: #2e2f42;
}

.discription-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ===============/FOOTER=============== */

/* ==============PORTFOLIO============== */

.portfolio-section {
  padding: 96px 0 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: space-between;
  row-gap: 48px;
  min-width: 360px;
}

.names-menu-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.menu-card-title {
  margin-bottom: 8px;
}

.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  flex-direction: column-reverse;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  border-radius: 4px;
  cursor: pointer;
}

.button-filter {
  background-color: var(--primary-button-filter-bg);
  color: var(--primary-button-bg);
  border: 1px solid #e7e9fc;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-color);
  border: 1px solid transparent;
}

.btn-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  gap: 24px;
  flex-wrap: wrap;
  padding-bottom: 48px;
  margin-bottom: 72px;
}

.footer {
  padding: 100px 0 100px;
  background: #2e2f42;
  height: 312px;
}
.footer-text {
  width: 264px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: 156px;
  margin-right: auto;
}
.footer-logo-text {
  margin-left: 156px;
  margin-right: auto;
  padding-bottom: 16px;
}

.logo-link {
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer-item {
  max-width: 264px;
}
